main {
    height: calc(100vh - #{$header_h});
    background-color: grey;
    overflow-y: auto;
    .container {
        .album-container {
            display: flex; flex-wrap: wrap;
            margin-left: -$spacing;
            margin-right: -$spacing;
            .album-card {
                @include flex(column, center, center);
                width: 200px;
                background-color: $bg_primary; color: $col_primary;
                padding: $spacing; margin: (2 * $spacing) $spacing;

                img {
                    width: 100%;
                }
                h2 {
                    text-transform: capitalize;
                }
                p {

                    &.author {
                        color: $col_primary_alt;
                        font-weight: bold;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}
